@import "../../assets/styles/theme.module.scss";
.caption {
  > div {
    margin-top: 17px;
  }
  svg {
    height: 12px;
    margin-right: 8px;
  }
  span {
    font-weight: 700;
  }
  .action {
    margin-top: 20px;
    display: block;
  }
}

@include tablet {
  .caption {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .content {
    margin: 0;
    flex-basis: 70%;
    order: 1;
  }
}

@include desktop {
  .content {
    flex-basis: 40%;
  }
} ;
