@import "../../assets/styles/theme.module.scss";

.wrapper {
  margin-top: 126px;
  margin-bottom: 20px;
  h2 {
    &::before {
      width: 60%;
    }
  }

  h4 {
    font-weight: 700;
    margin-bottom: 0;
    font-family: $secondary-font;
  }
  p {
    margin-top: 8px;
  }
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.item {
  flex-basis: 90%;
  margin-top: 82px;
}

.svg-wrapper {
  border: 1px solid #c3c2c1;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@include tablet {
  .wrapper {
    margin-top: 100px;
    h2 {
      width: fit-content;
      &::before {
        right: -10%;
      }
    }
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .item {
    flex-basis: 47%;
    align-self: flex-start;
  }
}

@include desktop {
  .wrapper {
    margin-bottom: 150px;
    h2 {
      &::before {
        display: none;
      }
    }
  }
  .item {
    flex-basis: 31%;
  }
} ;
