@import "../../assets/styles/theme.module.scss";

@import "../../assets/styles/theme.module.scss";
.help {
  margin-top: 126px;
  margin-bottom: 90px;
  h4 {
    font-weight: 700;
    margin-bottom: 0;
    font-family: $secondary-font;
  }
  p {
    margin-top: 8px;
  }
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.item {
  flex-basis: 90%;
  margin-bottom: 82px;
  &:last-child {
    margin-bottom: 0;
  }
}

.svg-wrapper {
  border: 1px solid #c3c2c1;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
