@import "../../../assets/styles/theme.module.scss";

.h2 {
  text-align: center;
  padding: 8px 0;
}

.decorated {
  position: relative;
  text-align: start;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    height: 65%;
    width: 80%;
    background-color: $color-cream;
    transform: translateX(-20px);
  }
}
.full-height {
  &::before {
    height: 100%;
  }
}
@include tablet() {
  .decorated::before {
    height: 100%;
    width: 50%;
  }
}
