@import "../../assets/styles/theme.module.scss";
.header {
  display: flex;
  justify-content: space-between;
}

.h3 {
  font-family: $Third-font;
  font-weight: 700;
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    margin-left: 24px;
  }
  svg {
    width: 32px;
    height: 32px;
  }
}
.menu {
  display: flex;
  flex-wrap: wrap;
  li {
    flex-basis: 49%;
    margin-bottom: 11px;
  }
  a {
    font-family: $Third-font;
    color: $color-brown;
  }
}
