@import "../../assets/styles/theme.module.scss";
.header {
  margin: auto;
  padding: 20px;
  z-index: 9999;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: $header-height;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mobile-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-open {
  height: 100vh;
  background-color: $color-white;
  overflow: hidden;
}

.logo,
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 12%;
}
.logo {
  margin-top: 20px;
}

.list {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 1rem;
  a {
    font-family: $first-font;
    font-weight: 700;
    :hover {
      color: $color-black;
      text-decoration: underline;
    }
  }
}
.active {
  color: $color-blue;
  text-decoration: underline;
}

.action {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto 30px;
}

.close--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div:first-child {
    svg {
      width: 32px;
      height: 32px;
    }
  }
}

@include tablet {
  .wrapper-hambuger {
    display: none;
  }
}
@include desktop {
  .close--menu {
    margin: 0 100px;
  }
} ;
