@import "../../assets/styles/theme.module.scss";
.header {
  margin: auto;
  z-index: 9999;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: $header-height;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mobile-open {
}

.logo,
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 12%;
}
.logo {
  margin-top: 20px;
}

.active {
  color: $color-blue;
  text-decoration: underline;
}

.close--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  > div:first-child {
    svg {
      width: 32px;
      height: 32px;
    }
  }
}

@include tablet {
  .wrapper-hambuger {
    display: none;
  }
}
@include desktop {
  .close--menu {
    margin: 0 100px;
  }
} ;
