@import "../../assets/styles/theme.module.scss";
.items {
  margin-top: 120px;
}

.item {
  margin-bottom: 120px;
  &:last-child {
    margin-bottom: 0px;
  }
  h2 {
    &::before {
      width: 25%;
    }
  }
  &:nth-child(odd) {
    h2 {
      &::before {
        width: 40%;
      }
    }
  }
}
.contact {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  > div {
    font-family: $Third-font;
    text-decoration: underline;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 22px;
    svg {
      align-items: center;
      margin-right: 20px;
      width: 25px;
    }
  }
}

.img-wrapper {
  margin-top: 48px;
  width: 100;
  img {
    width: 100%;
  }
}
.header {
  span {
    display: block;
    transform: translateY(-12px);
    font-family: $Third-font;
    color: $color-lightGrey;
    font-style: normal;
    font-size: 15px;
    line-height: 48px;

    text-transform: uppercase;
  }
}
