@import "../../../assets/styles/theme.module.scss";

.btn {
  display: block;
  font-size: 12px;
  line-height: 11px;
  font-weight: 500;
  width: fit-content;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: none;
  border: 1px solid $color-lightGrey;
  padding: 10px 11px;
  color: $color-brown;
}
