@import "../../assets/styles/theme.module.scss";
.wrapper {
  h2 {
    margin-top: 77px;
  }
  h2::before {
    width: 55%;
  }
}

.comments {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $color-cream;
  }
}
.item {
  padding: 40px;

  margin-bottom: 40px;
}
.caption {
  font-weight: 700;
  margin-top: 25px;
  text-transform: capitalize;
}

@include tablet {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .header {
    p {
      margin-top: 15px;
    }
  }

  .item {
    margin-bottom: 0;
  }
  .comments {
    flex-direction: row;
    margin-top: 50px;
  }
  .item {
    flex-basis: 49%;
  }
}
@include desktop {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 120px;
    > div {
      flex-basis: 45%;
    }
    .header {
      order: 2;
      align-self: center;
      h2 {
        max-width: 380px;
      }
      ::before {
        display: none;
      }
    }
    .comments {
      flex-direction: column;
    }
    .item {
      margin-top: 30px;
    }
  }
}
@include desktopXl {
  .wrapper {
    margin-top: 150px;
  }
} ;
