@import "../../assets/styles/theme.module.scss";
.wrapper {
  h2 {
    &::before {
      width: 60%;
    }
  }
  p {
    margin-top: 26px;
  }
}
.action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    margin-right: 5px;
  }
}
.arrow {
  transform: rotate(-90deg);
  width: 17px;
  height: 17px;
  display: inline-block;
  fill: $color-brown;
  path {
    fill: $color-brown;
  }
}

@include tablet {
  .header {
    border-bottom: 1px solid $color-brown;
    padding-bottom: 30px;
  }
  .wrapper {
    margin-top: 100px;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    > div {
      align-self: flex-start;
      flex-basis: 49%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

@include desktop {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-brown;
    padding-bottom: 97px;
    > div {
      flex-basis: 49%;
      align-self: flex-start;
      margin-top: 0;
      max-width: 460px;
      margin-right: auto;
    }
    p {
      margin-top: 0;
    }
    h2 {
      &::before {
        height: 60%;
        display: none;
      }
    }
    a {
      margin-top: 37px;
    }
  }
}

@include desktopXl {
  .wrapper {
    margin-top: 150px;
  }
  .items {
    margin-top: 28px;

    > div {
      flex-basis: 24%;
    }
  }
} ;
