@import "../../assets/styles/theme.module.scss";
.wrapper {
  h2 {
    &::before {
      width: 60%;
    }
  }
  p {
    margin-top: 26px;
  }
}
.action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    margin-right: 5px;
  }
}
.arrow {
  transform: rotate(-90deg);
  width: 17px;
  height: 17px;
  display: inline-block;
  fill: $color-brown;
  path {
    fill: $color-brown;
  }
}

@include tablet {
  .wrapper {
    margin-top: 90px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div,
    p {
      flex-basis: 49%;
    }
    h2 {
      &::before {
        height: 60%;
      }
    }
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    > div {
      flex-basis: 49%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
