@import "../../assets/styles/theme.module.scss";
.wrapper {
  button {
    margin: 20px 0 0;
  }
}
.fillter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    border-color: $color-blue;
  }
}
.gallery {
  margin: 50px 0 0;
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    margin: 0 0 25px;
    img {
      width: 100%;
    }
  }
}
