@import "../../assets/styles/theme.module.scss";

.wrapper {
  margin: 50px 20px 0;
  a {
    display: flex;
    margin: 35px 0 25px;
    span {
      margin-right: 10px;
    }
    svg {
      transform: rotate(-90deg);
    }
  }
}
.image2 {
  display: none;
}

.image-wrapper {
  margin: 24px 0;
  @include ozdobnik($color-blue);
  &::before {
    right: 0;
    transform: translate(0px, 15px) rotate(180deg);
  }
  img {
    min-width: 95%;
  }
}

@include tablet {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
    > div {
      flex-basis: 49%;
    }
    h2 {
      text-align: left;
    }
    a {
      margin: 10px 0 10px;
    }
    p {
      font-size: 16px;
    }
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .content {
    max-width: 480px;
  }
  .image2 {
    display: block;
    width: 60%;
    margin-left: auto;
    @include ozdobnik($color-cream) {
      left: 0;

      transform: translate(-15px, 15px) rotate(-90deg);
    }
  }
  .image1 {
    &:before {
      top: 0;
      transform: translate(15px, -15px) rotate(90deg);
    }
  }
  .image-wrapper {
    margin: 0;
    align-self: end;

    img {
      width: 100%;
    }
  }
}
