@import "../../assets/styles/theme.module.scss";

.wrapper {
  margin-top: 77px;
  h3,
  p {
    color: $color-white;
    margin: 0 0 20px;
  }
}

.content {
  background-color: $color-darkGrey;
  padding: 25px 30px;
  margin: 0 0 11px;

  @include ozdobnik($color-darkGrey) {
    top: 0;
    right: 0;
    transform: translate(15px, -15px) rotate(90deg);
  }
}
.image-wrapper {
  order: 1;
  width: 90%;
  height: auto;
  padding: 0;
  img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  @include ozdobnik($color-cream);
}

@include tablet {
  .wrapper {
    margin-top: 90px;
    > div {
      margin: 0 66px;
    }
  }
  .content {
    &::before {
      transform: translate(35px, -35px) rotate(90deg);
    }
  }
}

@include desktop {
  .wrapper {
    > div {
      margin: 0 0;
    }
  }
  .image-wrapper {
    display: none;
  }
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: $color-white;

    p {
      margin: 10px 0 0;
    }
    > div {
      flex-basis: 47%;
      &:first-child {
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    p {
      color: $color-black;
    }
    h3 {
      color: $color-brown;
    }
    &::before {
      display: none;
    }
  }
}

@include desktopXl {
  .wrapper {
    margin-top: 150px;
    h3 {
      font-size: 36px;
      line-height: 44px;
    }
    p {
      margin-top: 20px;
    }
  }
} ;
