@import "../../assets/styles/theme.module.scss";

.wrapper {
  margin: 77px 43px;
  h3,
  p {
    color: $color-white;
    margin: 0 0 20px;
  }
}

.content {
  background-color: $color-darkGrey;
  padding: 25px 30px;
  margin: 0 0 11px;

  @include ozdobnik($color-darkGrey) {
    top: 0;
    right: 0;
    transform: translate(15px, -15px) rotate(90deg);
  }
}
.image-wrapper {
  order: 1;
  width: 90%;
  height: auto;
  padding: 0;
  img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  @include ozdobnik($color-cream);
}
@include tablet() {
}
