@import "../../assets/styles/theme.module.scss";
.wrapper {
  margin-top: 128px;

  h2 {
    margin-bottom: 0;
  }
  p {
    margin-top: 14px;
  }
}
.image-wrapper {
  width: 100%;
  margin-top: 34px;
  img {
    width: 100%;
  }
}

@include tablet {
  .wrapper {
    display: flex;
    width: 80%;
    margin: 150px auto 0;
  }
  .content {
    margin-right: 15px;
  }
  .image-wrapper {
    max-width: 546px;
    @include ozdobnik($color-blue) {
      right: 0;
      transform: translate(35px, 35px) rotate(-180deg);
    }
  }
} ;
