@import "../../assets/styles/theme.module.scss";
.wrapper {
  margin-top: 89px;

  h2 {
    margin-top: 0;
    padding-right: 20px;
    display: block;
    width: fit-content;
    &::before {
      width: 110%;
    }
  }
  p {
    margin-top: 30px;
  }
  button {
    margin-top: 20px;
  }
}
.item {
  margin-top: 89px;
  svg {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    transform: rotate(-90deg);
  }
}

.image-wrapper {
  width: 100%;
  margin-top: 40px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@include tablet {
  .wrapper {
    padding: 0 20px;
  }
  .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px auto 0;
    .header {
      margin-right: 15px;
      flex-basis: 40%;
      h2 {
        &::before {
          /*   display: none; */
          width: 80%;
        }
      }
    }
    .image-wrapper {
      max-width: 546px;
      flex-basis: 50%;
    }
    &:nth-child(odd) {
      margin-top: 140px;
      .header {
        order: 1;
        h2,
        p {
          text-align: end;
        }
      }
      h2 {
        margin-left: auto;
      }
      .image-wrapper {
        margin-right: 15px;
        margin-top: 0px;
        @include ozdobnik($color-cream) {
          top: 0;
          transform: translate(-35px, -35px) rotate(90deg);
        }
      }
    }
    &:nth-child(even) {
      .image-wrapper {
        @include ozdobnik($color-blue) {
          bottom: 0;
          right: 0;
          transform: translate(35px, 35px) rotate(-90deg);
        }
      }
    }
    &:last-child {
      flex-direction: column;

      .header {
        h2 {
          margin: 0 auto;
        }
        p {
          text-align: center;
        }
      }

      .image-wrapper {
        order: 2;
        margin: 60px auto 0;
        flex-basis: 100%;
      }
    }
  }
}

@include desktop {
  .wrapper {
    margin-top: 0;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    > div {
      flex-basis: 47%;
    }
  }
  .items {
    .item {
      margin-top: 80;
      .image-wrapper {
        max-width: 100%;
        margin-top: 0;
        /*    &::before {
          display: none;
        }
        &::after {
          display: none;
        } */
      }
    }
    &:last-child {
      flex-direction: column;
      .header {
        h2 {
          margin: 0 auto;
        }
        p {
          text-align: center;
        }
      }
      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;
        margin: 0 auto;
        h2 {
          &::before {
            /*   display: none; */
            width: 70%;
          }
        }
        p {
          padding-bottom: 100px;
        }
      }
    }
  }
} ;
