@import "../../assets/styles/theme.module.scss";
.wrapper {
  margin-top: 89px;
  h2 {
    margin-top: 0;
    padding-right: 20px;
    display: block;
    width: fit-content;
    &::before {
      transform: translateX(-20px);
      width: 110%;
    }
  }
  p {
    margin-top: 30px;
  }
  button {
    margin-top: 20px;
  }
}
.item {
  margin-top: 89px;
  svg {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    transform: rotate(-90deg);
  }
}

.image-wrapper {
  width: 100%;
  margin-top: 100px;
  img {
    width: 100%;
  }
}

@include tablet {
  .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px auto 0;
    .header {
      margin-right: 15px;
      flex-basis: 40%;
    }
    .image-wrapper {
      max-width: 546px;
      flex-basis: 50%;
    }
    &:nth-child(odd) {
      margin-top: 140px;
      .header {
        order: 1;
        h2,
        p {
          text-align: end;
        }
      }
      h2 {
        margin-left: auto;
      }
      .image-wrapper {
        margin-right: 15px;
        margin-top: 0px;
        @include ozdobnik($color-cream) {
          top: 0;
          transform: translate(-35px, -35px) rotate(0deg);
        }
      }
    }
    &:nth-child(even) {
      .image-wrapper {
        @include ozdobnik($color-blue) {
          bottom: 0;
          right: 0;
          transform: translate(35px, 35px) rotate(180deg);
        }
      }
    }
    &:last-child {
      flex-direction: column;
      .header {
        h2 {
          margin: 0 auto;
        }
        p {
          text-align: center;
        }
      }

      .image-wrapper {
        order: 2;
        margin-top: 60px;
        flex-basis: 100%;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          clip-path: polygon(0 0, 100% 0, 100% 15%, 15% 15%, 15% 100%, 0 100%);
          transform: translate(35px, 35px) rotate(-180deg);
          width: 80px;
          height: 80px;
          background-color: $color-cream;
        }
      }
    }
  }
} ;
