@import "./theme.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $color-white;
}

a,
button {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: $color-black;
}
ul {
  list-style: none;
}
h2,
ul,
span,
p {
  margin: 0;
  padding: 0;
}
p {
  font-size: 16px;
  line-height: 24px;
  font-family: $secondary-font;
  color: $color-black;
  text-shadow: 1.69145px 8.45725px 16.9145px rgba(255, 255, 255, 0.28);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $first-font;
  color: $color-brown;
  font-weight: 500;
  text-shadow: 1.69145px 8.45725px 16.9145px rgba(255, 255, 255, 0.28);
}
h1 {
  font-size: 50px;
  line-height: 46px;
}
h2 {
  font-size: 42px;
  line-height: 44px;
}
h3 {
  font-size: 25px;
  line-height: 29px;
}
h4 {
  font-size: 16px;
  line-height: 24px;
}

section,
footer {
  margin: 39px 20px 39px;
}

img {
  display: block;
}
/*  */
@include tablet {
  body {
    overflow-x: hidden;
  }
}

@include desktop {
  h1 {
    font-size: 54px;
    line-height: 60px;
  }
  h3,
  h2 {
    font-family: $Third-font;
    font-weight: 700;
    color: $color-brown;
  }
  p {
    font-size: 18px;
    line-height: 26px;
  }
  section {
    margin: 0 93px;
    padding: 0 10px;
  }
}

@include desktopXl {
  section {
    margin: 0 auto;
    max-width: 1200px;
  }
} ;
