$color-white: #e5e5e5;
$color-darkGrey: #444c54;
$color-lightGrey: #c3c2c1;
$color-brown: #2e2b26;
$color-black: #000000;
$color-cream: #ddd4c9;
$color-blue: #444c54;

$first-font: "Cormorant Garamond", serif;
$secondary-font: "Montserrat", sans-serif;
$Third-font: "Inter", sans-serif;

$body-left-margin: 20px;

@mixin tablet {
  @media only screen and (min-width: 716px) {
    @content;
  }
}
