$color-white: #fff;
$color-darkGrey: #444c54;
$color-lightGrey: #c3c2c1;
$color-brown: #2e2b26;
$color-black: #000000;
$color-cream: #ddd4c9;
$color-blue: #444c54;
$color-transparent-overlay: #{"hsl(0deg 0% 0% / 42%)"};

$first-font: "Cormorant Garamond", serif;
$secondary-font: "Montserrat", sans-serif;
$Third-font: "Inter", sans-serif;

$header-height: 80px;
$body-left-margin: 20px;

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
@mixin desktopXl {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin ozdobnik($color) {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 0, 15% 0, 15% 85%, 15% 85%, 15% 0, 0 0);

    transform: translate(-15px, 15px);
    width: 50px;
    height: 50px;
    background-color: $color;
    @content;
  }
  @media only screen and (min-width: 768px) {
    &::before {
      width: 80px;
      height: 80px;
      transform: translate(-35px, 35px);
      @content;
    }
  }
}

/* 
{@include ozdobnik($color-cream);
top: 0;
    right: 0;
    transform: translate(15px, -15px) rotate(90deg); }
    
    */
