@import "../../assets/styles/theme.module.scss";

.backdrop-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  button {
    margin-top: 20px;
    margin-right: 20px;
  }
}
.modal-wrapper {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  z-index: 10001;
  overflow: hidden;

  .header {
    background: #4f005f;
    padding: 1rem;

    h2 {
      margin: 0;
      color: white;
    }
  }

  > div {
    padding: 1rem;
  }

  button {
    display: block;
    margin-left: auto;
  }

  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
}
