@import "../../assets/styles/theme.module.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-start;
  button {
    margin-left: auto;
  }
}
.modal-window {
  margin: auto;
  > div {
    padding: 1rem;
  }

  button {
    display: block;
    margin-left: auto;
  }
}
