@import "../../assets/styles/theme.module.scss";

.image-wrapper {
  width: 100%;
  height: fit-content;
  margin: auto;

  img {
    width: 100%;
    max-height: 500px;
    height: 300px;
    margin: auto;
    object-position: center;
    object-fit: cover;
  }
}
.modal-image {
  width: 100%;
  height: fit-content;
  margin: auto;

  img {
    width: 100%;
    margin: auto;
    height: 100%;
    max-height: 70vh;
    object-position: center;
    object-fit: cover;
  }
}

@include desktop {
  .image-wrapper {
    img {
      height: 400px;
    }
  }
  .modal-image img {
    height: 100%;
    max-height: 80vh;
  }
}
@include desktopXl {
  .image-wrapper {
    img {
      height: 500px;
    }
  }
} ;
