@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

@import "../../assets/styles/theme.module.scss";
.wrapper {
  margin-top: 22px;

  overflow: hidden;
  /*   ul {
    bottom: 10px;
  } */
}
.content {
  margin-top: 22px;
}

.castom-dots {
  :global(li.slick-active) {
    button::before {
      opacity: 1;
      font-size: 13px;
      color: $color-white;
    }
  }
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 0px;
    padding: 0;
    cursor: pointer;

    > button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &::before {
        font-family: "slick";
        font-size: 10px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: "•";
        text-align: center;
        color: rgba(255, 255, 255, 0.6);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}

.prev-arrow {
  left: 25px;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    clip-path: polygon(40% 0, 55% 0, 15% 50%, 55% 100%, 40% 100%, 0% 50%);
    width: 22px;
    height: 22px;
    background-color: $color-white;
  }
}
.next-arrow {
  right: 25px;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    clip-path: polygon(40% 0, 55% 0, 15% 50%, 55% 100%, 40% 100%, 0% 50%);
    width: 22px;
    height: 22px;
    background-color: $color-white;
    transform: rotate(180deg);
  }
}

@include tablet {
  .wrapper {
    grid-column: span 2;
  }
}
